/* <link rel="stylesheet" href="css/style.css"> */

.glyphicon-arrow-left:before{content:"\e091"}

@media screen and (max-width: 600px) {
  .mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.box{
	padding:20px;
	border:2px;
	border-style: solid;
	border-color: peru;
	background-color: #f2f2f2;
	opacity: 0.75;
}
